<h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
<ul>
<li><%= restaurant.name %> - <%= link_to 'Show', restaurant_path(restaurant) %> - <%= link_to 'Edit', edit_restaurant_path(restaurant) %> - <%= link_to 'Create', new_restaurant_path(restaurant) %> - <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></li><li><%= restaurant.address %></li>
</ul>
<% end %>
